<ul role="menu">
    <li>
        <a title="Друк фото на холсті в Києві на Подолі. Готовність та відправка в день замовлення | PaperFox"
            href="{{domain}}/print-canvas/" class="sub_link"
            aria-current="page">
            <span>Друк на холсті</span>
            <span>Полотно преміум та економ</span>
        </a>
    </li>
    <li>
        <a title="👕 Друк на футболках в Києві. Друк на тканині на Подолі | PaperFox"
            href="{{domain}}/print-t-shirt/" class="sub_link"
            aria-label="Друк на футболках" aria-current="page">
            <span>Друк на футболках</span>
            <span>Флекс, прямий друк, термо</span>
        </a>
    </li>
    <li>
        <a title="☕ Друк на чашках [горнятках, кружках]. Конструктор чашок з фото і написом | PaperFox"
            href="{{domain}}/mug-print/" class="sub_link"
            aria-label="Друк на чашках" aria-current="page">
            <span>Друк на чашках</span>
            <span>Стандартні, XL, mini</span>
        </a>
    </li>
</ul>
<ul role="menu">
    <li>
        <a title="Друк календарів з фото. Замовити онлайн друк календарів в Києві на Подолі | PaperFox"
            href="{{domain}}/print-calendar/" class="sub_link"
            aria-label="Будиночки та Перекідні" aria-current="page">
            <span>Друк календарів</span>
            <span>Будиночки та Перекідні</span>
        </a>
    </li>
</ul>