<ul role="menu">
    <li>
        <a title="Друк наклейок та стікер паків [стікер сетів] в Києві на Подолі | PaperFox"
            href="{{domain}}/print-sticker/" class="sub_link"
            aria-current="page">
            <span>Друк наклейок</span>
            <span>Порізка, висічка, ламінація</span>
        </a>
    </li>
    <li>
        <a title="Якісний кольоровий друк А3 та А4 формата в Києві | PaperFox"
            href="{{domain}}/digital-print/" class="sub_link"
            aria-current="page">
            <span>Цифровий друк</span>
            <span>Розмір від А7 до А3</span>
        </a>
    </li>
    <li>
        <a title="Широкоформатний друк А2, А1 і А0 в Києві. Плакати, креслення, фото | PaperFox"
            href="{{domain}}/large-print/" class="sub_link"
            aria-current="page">
            <span>Широкоформатний друк</span>
            <span>Плакати, креслення: А2, А1 та А0</span>
        </a>
    </li>
</ul>
<ul role="menu">
    <li>
        <a title="Друк наліпок великого розміру на плівці Рітрамаі в Києві на Подолі | PaperFox"
            href="{{domain}}/oracal-print/" class="sub_link"
            aria-current="page">
            <span>Друк на оракалі</span>
            <span>Екосольвентний друк</span>
        </a>
    </li>
    <li>
        <a title="Друк візиток в Києві на Подолі: візитки швидко, якісно, зручно. Візитки терміново | PaperFox"
            href="{{domain}}/print-vizitki/" class="sub_link"
            aria-current="page">
            <span>Друк візиток</span>
            <span>Цифрові та офсетні візитки</span>
        </a>
    </li>
    <li>
        <a title="Друк буклетів, каталогів, брошур. Друк буклетів в Києві на Подолі | PaperFox"
            href="{{domain}}/print-flyer/" class="sub_link"
            aria-current="page">
            <span>Друк буклетів</span>
            <span>Брошури, буклети, меню</span>
        </a>
    </li>
</ul>