<ul role="menu">
    <li>
        <a title="Печать фото на холсте Киев" href="{{sub_domain}}/gift-mugs/"
            class="sub_link"
            aria-label="Дизайни готових чашок для подарунку замовити з доставкою"
            aria-current="page">
            <span>Чашки на подарунок</span>
            <span>Друк на холсті</span>
        </a>
    </li>
    <li>
        <a title="Печать фото на холсте Киев"
            href="{{domain}}/diplomy-i-sertificaty/"
            class="sub_link" aria-label="Шаблони дизайнів сертифікатів замовити онлайн"
            aria-current="page">
            <span>Сертификати</span>
            <span>Друк на холсті</span>
        </a>
    </li>
    <li>
        <a title="Прикольные футболки" href="{{domain}}/t-shirt-gallery/"
            class="sub_link" aria-label="Шаблони дизайнів друку на футболоках"
            aria-current="page">
            <span>Футболки</span>
            <span>Друк на холсті</span>
        </a>
    </li>
</ul>