.row:has(>.checkout_checkbox) {
    flex-wrap: nowrap;
}

.checkout_checkbox:checked {
    display: flex;
    opacity: 0;
    width: 12px !important;
}

.checkout_checkbox {
    opacity: 0;
    width: 12px !important;
    height: 0 !important;
}

.checkout_checkbox_label {
    position: relative;
    display: flex;
    font-size: 12px;
    margin-left: 26px;
}

.checkout_checkbox_label::before {
    content: " ";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -38px;
    top: 4px;
    width: 20px !important;
    height: 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid var(--color-gray);
    border-radius: 2px;
}

.checkout_checkbox:checked~::before {
    content: "✔";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: -38px;
    top: 4px;
    font-size: 16px;
    color: white;
    background-color: var(--color-theme);
    border: 1px solid var(--color-theme);
    border-radius: 2px;
}

.checkout_input_text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.checkout_input_text>label {
    font-size: 12px;
    color: var(--color-gray);
    margin: 0 0 4px 8px;
}

.checkout_input_text>input {
    font-size: 16px;
    padding: 12px 8px;
    border-radius: var(--size-border-radius);
    border: 1px solid var(--color-gray);
}

.checkout_input_text>input:hover,
.checkout_input_text>input:focus {
    border: 1px solid var(--color-theme);
}

.checkout_input_text>input:focus {
    outline: 1px solid var(--color-theme);
}

.checkout_input_text>input::placeholder {
    font-size: 16px;
    color: var(--color-gray);
}


ul:has(>.checkout_input_radio_wrapper) {
    transition: var(--time-tr-time);
    width: 100%;
}

.checkout_input_radio_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.checkout_input_radio {
    display: flex;
    position: relative;
    padding-left: 32px;
}

.checkout_input_radio>input {
    opacity: 0;
}

.checkout_input_radio>label {
    cursor: pointer;
    transition: var(--time-tr-time);
}

.checkout_input_radio>label::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border: 1px solid var(--color-theme);
    border-radius: 999px;
}

.checkout_input_radio>input:checked~::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: white;
    background-color: tra;
    border: 8px solid var(--color-theme);
    border-radius: 999px;
}

.checkout_input_radio:has(>input:checked)>label {
    font-weight: bold;
}

.checkout_input_radio:has(>input:checked)~.checkout_input_radio_legend,
.checkout_recepient:has(>input:checked)~.checkout_input_radio_legend {
    /* display: flex; */
    opacity: 1;
    transform: translateY(0);
    height: fit-content !important;
    width: 100%;

}

.checkout_input_radio_legend {
    width: 100%;
    opacity: 0;
    height: 0 !important;
    padding-left: 46px;
    font-size: 14px;
    color: var(--color-gray);
    transform: translateY(-100%);
    transition: var(--time-tr-time);
    /* display: none; */
}

.checkout_cities_template {
    display: flex;
    gap: var(--size-gap);
    padding-left: 46px;
}

.checkout_recepient {
    display: flex;
}

.checkout_recepient>.checkout_checkbox_label {
    width: 100%;
}

.checkout_recepient>.checkout_checkbox_label::before {
    top: 0;
}

.checkout_recepient~.checkout_input_radio_legend {
    padding-left: 0;
}

.checkout_recepient>.checkout_checkbox_label {
    font-size: var(--font-text-16);
}