body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-text-16);
    line-height: 130%;
}

select {
    font-family: 'Montserrat', sans-serif;
}

.template {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 32px;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    background-color: var(--color-theme);
    border-radius: var(--size-border-radius);
}

.list {
    list-style: disc outside !important;
    padding-left: 16px;
}

.text_center {
    display: inline;
    text-align: center;
}

.text {
    width: 300px;
}


.text_60 {
    font-size: var(--font-text-60);
    font-weight: bold;
    line-height: 130% !important;
}

.text_32 {
    font-size: var(--font-text-32);
}

.text_32__bold {
    font-size: var(--font-text-32);
    font-weight: 800;
}

.text_24 {
    font-size: var(--font-text-24);
    font-weight: 600;
}

.text_24__bold {
    font-size: var(--font-text-24);
}

.text_16__bold {
    font-size: var(--font-text-16);
    font-weight: 600;
}
.text_16 {
    font-size: var(--font-text-16);
}

.text_14 {
    font-size: var(--font-text-14);
}

.text_14__gray {
    font-size: var(--font-text-14);
    color: var(--color-gray);
}

.link_14__gray {
    font-size: var(--font-text-14);
    color: var(--color-gray);
}

.link_14__gray:hover {
    color: var(--color-theme);
}


.text_12 {
    font-size: var(--font-text-12);
}

.text_12__gray {
    font-size: var(--font-text-12);
    color: var(--color-gray);
}

.link {
    cursor: pointer;
    color: inherit;
}

.link_text {
    color: var(--color-theme) !important;
    cursor: pointer;
    color: inherit;
}

.link_text:hover {
    transition: 300ms ease;
    transform: scale(1.01);
}

.link:hover {
    color: var(--color-theme) !important;
    transition: 300ms ease;
    transform: scale(1.01);
}


@media (max-width: 991.98px) {
    :root {
        --font-text-60: 48px;
        --font-text-32: 32px;
        --font-text-24: 18px;
    }
}

@media (max-width: 767.98px) {
    :root {
        --font-text-60: 32px !important;
        --font-text-32: 24px !important;
        --font-text-24: 18px;
    }
}

@media (max-width: 575.98px) {
    :root {
        --font-text-60: 36px;
        --font-text-32: 24px;
        --font-text-24: 18px;
    }
}

@media (max-width: 320px) {
    :root {
        --font-text-60: 36px;
        --font-text-32: 24px;
        --font-text-24: 18px;
    }
}