<section class="section" id="paperfox_services">
            <div class="container col_center big_gap width_100">
                <p class="text_32__bold">Наші послуги</p>
                <div class="row big_gap products_cards">
                    <a class="product_card cards_3" href="{{domain}}/print-sticker/stickerpack/"
                        title="Натисніть щоб перейти до сторінки Друк стікерпаків">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-stickerpack-print.png"
                            alt="Друк стікерпаків"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк стікерпаків</h3>
                        <p class="text_14 width_100">Стікерпаки - швидко, зручно та індивідуально.
                            Ідеальний спосіб створити унікальні наліпки для особистого використання, стартапу або малого
                            бізнесу.
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/print-sticker/"
                        title="Натисніть щоб перейти до сторінки Друк наклейок">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-sticker-print.png" alt="Друк наклейок"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк наклейок</h3>
                        <p class="text_14 width_100">Друк наклейок та стікерів різних форматів, будь яких конфігурацій.
                            Яскравий дизайн, оригінальна подача, висока якість і швидкий друк та порізка наклейок в
                            центрі Києва
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/digital-print"
                        title="Натисніть щоб перейти до сторінки Цифровий друк">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-digital-print.png" alt="Цифровий друк"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Цифровий друк</h3>
                        <p class="text_14 width_100">Формат: А5, А4 и А3. Кольоровий цифровий друк на сучасних лазерних
                            аппаратах
                            у
                            стислий термін будь якими тиражами. Цифровий друк візиток, плакатів, листівок, дипломів тощо
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/large-print/"
                        title="Натисніть щоб перейти до сторінки Широкоформатний друк">
                        <img src="{{stylesheet_url}}/static/main-page/main-large-format-print.png"
                            alt="Широкоформатний друк"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Широкоформатний друк</h3>
                        <p class="text_14 width_100">Формат: А0, А1 и А2. Кольоровий і чорно-білий широкоформатний друк
                            плакатів, афіш, постерів, фотографій, креслень, схем, технічної та ділової документації.
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/mug-print/"
                        title="Натисніть щоб перейти до сторінки Друк на чашках">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-mug-print.png" alt="Друк на чашках"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк на чашках</h3>
                        <p class="text_14 width_100">Оригінальний друк на чашках фотографій, логотипів, малюнків,
                            надписів, привітань. Друк на чашках різних розмірів, чашках – хамелеонах, кавових чашках.
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/print-poster/"
                        title="Натисніть щоб перейти до сторінки Друк плакатів">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-poster-print.png" alt="Друк візиток"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк плакатів</h3>
                        <p class="text_14 width_100">Якісний оперативний друк візиток від Економ до Еліт класу на різних
                            видах картону; ламінація, скруглення кутів, висікання отворів – все для унікальних візиток.
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/print-vizitki/"
                        title="Натисніть щоб перейти до сторінки Друк візиток">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-biz-cards-print.png" alt="Друк візиток"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк візиток</h3>
                        <p class="text_14 width_100">Якісний оперативний друк візиток від Економ до Еліт класу на різних
                            видах картону; ламінація, скруглення кутів, висікання отворів – все для унікальних візиток.
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/print-flyer/"
                        title="Натисніть щоб перейти до сторінки Друк флаєрів">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-flyer-print.png" alt="Друк флаєрів"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк флаєрів</h3>
                        <p class="text_14 width_100">Повнокольоровий друк флаєрів і листівок різноманітних форматів від
                            100 шт. Доступний терміновий друк флаєрів за 15 хвилин. Офсетний друк листівок великих
                            тиражів.
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/booklet-print/"
                        title="Натисніть щоб перейти до сторінки Друк буклетів">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-brochure-print.png" alt="Друк буклетів"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк буклетів</h3>
                        <p class="text_14 width_100">Двостороння цифровий та офсетний друк буклетів, каталогів, брошур
                            на крейдованому матовому і глянцевому папері; ламінація, біговка, фальцювання, брошурування.
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/print-canvas/"
                        title="Натисніть щоб перейти до сторінки Друк на холсті">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-canvas-print.png" alt="Друк на холсті"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк на холсті</h3>
                        <p class="text_14 width_100">Якісний друк на полотні фотографій та артів з високою роздільною
                            здатністю та галерейная натяжка на дерев’яний підрамник. Перед друком опрацьовуємо
                            фотографії
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/print-t-shirt/"
                        title="Натисніть щоб перейти до сторінки Друк на Футболках">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-t-shirt-print.png"
                            alt="Друк на Футболках"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк на Футболках</h3>
                        <p class="text_14 width_100">Цифровий друк на футболках зображень, фотографій, логотипів,
                            надписів, номерів: стійкий друк на футболках полімерними плівками (флекс), термо друк.
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                    <a class="product_card cards_3" href="{{domain}}/print-calendar/"
                        title="Натисніть щоб перейти до сторінки Друк календарів">
                        <img src="{{stylesheet_url}}/static/main-page/main-page-calendar-print.png"
                            alt="Друк календарів"
                            class="product_card_image bg_img" width="200" height="200" loading="lazy"
                            decoding="async" />
                        <h3 class="header_4 width_100 ">Друк календарів</h3>
                        <p class="text_14 width_100">Друк календарів будь-яких видів, розмірів та типів: перекидні
                            настінні та будиночки, планінги, квартальні календарі.
                            <br>Тираж від 1 штуки
                        </p>
                        <button class="sub_link" aria-label="Друк на чашках">
                            <span>ДОКЛАДНІШЕ</span>
                        </button>
                    </a>
                </div>

        </section>