<section class="section">
    <div class="container">
        <h3 class="text-32 ">Приклади готових робіт</h3>
        <div class="product_gallery small_gap">
            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_image__wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product_gallery_video__wrapper">
                <video name="video" class="product_gallery_video " width="100" height="100" muted>
                    <source src="../../static/video-sticker_clear_with_gold.mp4" type="video/mp4">
                </video>
                <span class="product_gallery_image__description ">Вінілова наліпка із плотерною порізкою</span>
            </div>
        </div>

</section>
<script src="../../src/Gallery.js"></script>