<ol class="menu_contacts">
    <li><a class="before_tel" href="tel:0800332042">0800 332 042</a></li>
    <li><a class="before_mail" href="mailto:print@paperfox.com.ua">print@paperfox.com.ua</a>
    </li>
    <li><a class="before_telegram" href="https://t.me/Paper_Fox">Telegram</a></li>
    <li><a class="before_viber" href="viber://add?number=380730472212">Viber</a></li>
    <li>
        <a title="Контакти" href="https://www.paperfox.com.ua/contacts/" class="sub_link"
            aria-label="Контакти PaperFox" aria-current="page">
            <span>Інші контакти</span>
            <span>Телефони, адреса, месенджери</span>
        </a>
    </li>
</ol>