<ol class="menu_contacts">
    <li><a class="before_tel" href="tel:{{phone}}">{{phone}}</a></li>
    <li><a class="before_mail" href="mailto:{{email}}">{{email}}</a>
    <li><a class="before_telegram" href="{{telegram}}">Telegram</a></li>
    <li><a class="before_viber" href="{{viber}}">Viber</a></li>
    <li>
        <a title="Контакти" href="{{domain}}/contacts/" class="sub_link"
            aria-label="Контакти PaperFox" aria-current="page">
            <span>Інші контакти</span>
            <span>Телефони, адреса, месенджери</span>
        </a>
    </li>
</ol>