/* map section*/
.contact_section {
    position: relative;
}

.map {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
}

.contacts {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.contacts_card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    z-index: 10;
    font-style: normal;
    padding: 36px;
    width: 400px;
    height: fit-content;
    background-color: #fff;
    gap: var(--size-gap);
}

.contacts_card a:hover {
    color: var(--color-theme);
}

.map_text__center {
    margin-top: 8px;
}

.link_after::after {
    content: "";
    width: 10px;
    height: 10px;
    margin: -2px 0 0 4px;
    transition: var(--time-tr-time);
    background: url("{{stylesheet_url}}/static/icons/icon-link.svg") no-repeat;
}

.link_after:hover:after {
    transform: scale(1.3);
    background: url("{{stylesheet_url}}/static/icons/icon-link--active.svg") 100% no-repeat;
}

@media (max-width: 1199.98px) {

    .contacts {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }




    
    .contacts_card {
        padding: 12px 24px;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        /* background-color: red; */
        margin-bottom: 6px;
        border-radius: 12px 12px 0 0;
        box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.05);
    }

    .b_time {
        justify-content: center;
        gap: var(--size-small-gap);
        width: 100%;
    }

    .b_time * {
        width: 100%;
        text-align: center;
    }

    .map_text__center {
        width: 100%;
        display: inline;
        text-align: center;
        margin-top: 8px;
    }

    .link_after {
        margin-left: 12px;
    }
}

@media (max-width: 991.98px) {
    .contacts_card {
        width: 115%;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
        margin-bottom: 10px;
        border-radius: 12px;
    }
}

@media (max-width: 767.98px) {
    .map {
        display: none;
    }

    .contacts_card {
        padding: 16px;
        box-shadow: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: transparent;
        gap: var(--size-big-gap);
    }

    .contact_section {
        background-color: var(--color-light-light-gray);
    }

    .contacts {
        position: static;
    }

    .contacts_card>.gap a:not(:last-child) {
        margin-right: var(--size-gap);
    }
}