.bg_theme {
  background-color: var(--color-theme);
  border: 1px solid var(--color-theme);
}

.ppf-fpd-wrapper {
  width: 100%;
}

.single_product_card,
.single_product_card_fpd {
  display: flex;
  flex-direction: row;
  gap: var(--size-big-gap);
  width: 100%;
  /* min-height: 360px; */
}

.single_product_card_col {
  display: flex;
  flex-direction: column;
  gap: var(--size-big-gap);
}

.single_product_card_fpd_cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.single_product_card_fpd_cnt__fpd {
  width: 100%;
  height: fit-content;

}

.single_product_card_image_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-height: 580px; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: var(--size-border-radius);
}

.single_product_card_image_cnt>picture,
.single_product_card_image_cnt>img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.single_product_card_fpd_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex: 1;
}

.related_product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 120px;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--size-border-radius);
  transition: ease 0.3s;
}

.related_product_card:hover {
  border: 1px solid var(--color-theme);
}

.related_product_img {
  width: calc(100% - 1px);
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: var(--size-border-radius) var(--size-border-radius) 0 0 !important;
}

.related_product_img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.related_product_title {
  margin: 8px;
  font-size: 12px;
  text-align: left;
  line-height: 1.2em;
  height: 3.6em;
  /* рівно 2 рядки */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* обмеження у 2 рядки */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

/* Квадратна «картка» для плюса, підженете під свою сітку */
.ppf-upsell-plus-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  /* або як у карток товарів */
  aspect-ratio: 1/1;
  border: 1px solid var(--color-light-gray);
  border-radius: 12px;
  transition: 0.3s ease;
  color: var(--color-gray);
}

.ppf-upsell-plus-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 48px;
  line-height: 1;
  text-decoration: none;

}

.ppf-upsell-plus-card:hover {
  border-radius: 12px;
  color: var(--color-theme);
  background-color: var(--color-light-light-theme);
  border: 1px solid var(--color-theme);

}

.single_product_summary_card {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  gap: var(--size-small-gap);
  background-color: var(--color-light-light-gray);
  border: 0.5px solid var(--color-light-gray);
  border-radius: var(--size-border-radius);
  padding: 24px;
}

.woocommerce-message,
.woocommerce-notices-wrapper {
  width: 100% !important;
}

.woocommerce-message {
  border: 1px solid var(--color-theme) !important;
  border-radius: var(--size-border-radius);
  background-color: var(--color-light-light-theme);
  color: black;
}

.woocommerce-message::before {
  color: var(--color-theme) !important;
}

.woocommerce-message>.button.wc-forward {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  transition: var(--time-tr-time);
}

.woocommerce-message>.button.wc-forward:after {
  content: "";
  background: url("https://paperfox.in.ua/wp-content/themes/paperfox/static/icons/icon-arrow-menu.svg") no-repeat 100% top;
  background-size: 100% 200%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 16px -4px 22px;
  transition: var(--time-tr-time);
}

.button.wc-forward:hover:after {
  background-position: bottom;
  transition: var(--time-tr-time);
}

.button.wc-forward:hover {
  color: var(--color-theme);
}

/* `lg` applies to large devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .single_product_card_fpd_cnt {
    flex-direction: column;
  }

  .single_product_card_fpd {
    flex-direction: column-reverse !important;
  }

  .single_product_summary_card {
    background-color: white;
    padding: 0;
    gap: var(--size-gap);
    border: none;
  }
}

/* `sm` applies to small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .single_product_card_image_cnt {
    max-height: 300px;
  }

  .single_product_card_image_cnt>img {
    object-fit: cover;
    height: 300px !important;
  }

  .single_product_card {
    flex-direction: column;
  }

  .single_product_summary_card {
    background-color: white;
    padding: 0;
    gap: var(--size-gap);
    border: none;
  }
}