.bg_theme {
    border: 1px solid var(--color-theme);
}

.single_product_card_row {
    display: flex;
    flex-direction: row;
    gap: var(--size-big-gap);
    width: 100%;
    min-height: 360px;
}

.single_product_card_col {
    display: flex;
    flex-direction: column;
    gap: var(--size-big-gap);
}

.single_product_card_image_cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.single_product_card_fpd_cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex: 1;
}

.single_product_card_description_cnt {
    display: flex;
    flex-direction: column;
    gap: var(--size-gap);
    flex: 1;
}

.single_product_summary_card {
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: var(--size-small-gap);
    background-color: var(--color-light-light-gray);
    border: 0.5px solid var(--color-light-gray);
    border-radius: var(--size-border-radius);
    padding: 24px;
    min-width: 430px;
  }